In [11]:
import pandas as pd
import numpy as np

In [13]:
data = pd.Series([0.25, 0.5, 0.75, 1.0,],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [14]:
data['b']

0.5

In [15]:
'a' in data

True

In [16]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [18]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [20]:
data ['a' : 'b' ]

a    0.25
b    0.50
dtype: float64

In [22]:
data [0 : 2 ]

a    0.25
b    0.50
dtype: float64

In [ ]:
#MASKING

In [23]:
data[(data>0.3)&(data<0.8)]
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [ ]:
#VECTORISED

In [25]:
data[['a','e']]

a    0.25
e    1.25
dtype: float64

In [27]:
data = pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [28]:
data[1]

'a'

In [29]:
data[1:3]

3    b
5    c
dtype: object

In [31]:
data.loc[1]

'a'

In [32]:
data.loc[1:3]

1    a
3    b
dtype: object

In [33]:
data.iloc[1]

'b'

In [35]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [47]:
area = pd.Series({'Los': 12412412421, 'Miam': 908894923842, 'Mos': 9192838213, 'NewY': 4516512, 'Calif': 67761277261})

pop = pd.Series({'Los': 78519278571, 'Miam': 82912985, 'Mos': 2192929, 'NewY': 2201911, 'Calif': 333912213})

data = pd.DataFrame({'area':area , 'pop':pop})
data

               area          pop
Los     12412412421  78519278571
Miam   908894923842     82912985
Mos      9192838213      2192929
NewY        4516512      2201911
Calif   67761277261    333912213

In [48]:
data['area']

Los       12412412421
Miam     908894923842
Mos        9192838213
NewY          4516512
Calif     67761277261
Name: area, dtype: int64

In [49]:
data.area

Los       12412412421
Miam     908894923842
Mos        9192838213
NewY          4516512
Calif     67761277261
Name: area, dtype: int64

In [52]:
data.pop is data['pop']

False

In [54]:
#BETTER USE LIKE THIS:

data['pop']

Los      78519278571
Miam        82912985
Mos          2192929
NewY         2201911
Calif      333912213
Name: pop, dtype: int64

In [62]:
data['datasity'] =  data['pop'] / data['area']
data

               area          pop  datasity
Los     12412412421  78519278571  6.325868
Miam   908894923842     82912985  0.000091
Mos      9192838213      2192929  0.000239
NewY        4516512      2201911  0.487525
Calif   67761277261    333912213  0.004928

In [63]:
data.values

array([[1.24124124e+10, 7.85192786e+10, 6.32586768e+00],
       [9.08894924e+11, 8.29129850e+07, 9.12239499e-05],
       [9.19283821e+09, 2.19292900e+06, 2.38547546e-04],
       [4.51651200e+06, 2.20191100e+06, 4.87524665e-01],
       [6.77612773e+10, 3.33912213e+08, 4.92777330e-03]])

In [64]:
data.T

                   Los          Miam           Mos          NewY         Calif
area      1.241241e+10  9.088949e+11  9.192838e+09  4.516512e+06  6.776128e+10
pop       7.851928e+10  8.291298e+07  2.192929e+06  2.201911e+06  3.339122e+08
datasity  6.325868e+00  9.122395e-05  2.385475e-04  4.875247e-01  4.927773e-03

In [65]:
data.values[0]

array([1.24124124e+10, 7.85192786e+10, 6.32586768e+00])

In [66]:
data['area']

Los       12412412421
Miam     908894923842
Mos        9192838213
NewY          4516512
Calif     67761277261
Name: area, dtype: int64

In [67]:
data.iloc[:3, :2]

              area          pop
Los    12412412421  78519278571
Miam  908894923842     82912985
Mos     9192838213      2192929

In [93]:
data.loc[:'Miam', :"pop"]

              area          pop
Los    12412412421  78519278571
Miam  908894923842     82912985

In [103]:
filtered_data = data.loc[data['datasity'] > 120, ['pop', 'datasity']]
pd.DataFrame(filtered_data)

Empty DataFrame
Columns: [pop, datasity]
Index: []

In [105]:
data.iloc[0,2] = 90
data

               area          pop   datasity
Los     12412412421  78519278571  90.000000
Miam   908894923842     82912985   0.000091
Mos      9192838213      2192929   0.000239
NewY        4516512      2201911   0.487525
Calif   67761277261    333912213   0.004928

In [107]:
data['Miam':'Calif']

               area        pop  datasity
Miam   908894923842   82912985  0.000091
Mos      9192838213    2192929  0.000239
NewY        4516512    2201911  0.487525
Calif   67761277261  333912213  0.004928

In [110]:
data[1:3]

              area       pop  datasity
Miam  908894923842  82912985  0.000091
Mos     9192838213   2192929  0.000239

In [114]:
data[data.datasity>120]

Empty DataFrame
Columns: [area, pop, datasity]
Index: []