In [2]:
import pandas as pd
import numpy as np

In [4]:
vals1 = np.array([1, None, 2,3])
vals1

array([1, None, 2, 3], dtype=object)

In [5]:
%timeit np.arange(1E6, dtype = int).sum()

615 µs ± 18.6 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [6]:

%timeit np.arange(1E6, dtype = object).sum()

34.7 ms ± 684 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
vals1.sum

In [8]:
vals1.min

In [11]:
vals2 = np.array([1, np.nan, 3, 4])
vals2

array([ 1., nan,  3.,  4.])

In [12]:
1 + np.nan

nan

In [13]:
0 * np.nan

nan

In [14]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

In [15]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

In [16]:
#NaN and None

In [17]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [19]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [21]:
x[0]=None
x

0    NaN
1    1.0
dtype: float64

In [26]:
import pandas as pd
import numpy as np

series = pd.Series([1, np.nan, 2, None, pd.NA], dtype='Int32')
print(series)

0       1
1    <NA>
2       2
3    <NA>
4    <NA>
dtype: Int32

In [28]:
data = pd.Series([1, np.nan, 'hello', None])
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [31]:
data = pd.Series([1, np.nan, 'hello', None])

data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [32]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [33]:
data.dropna()

0        1
2    hello
dtype: object

In [35]:
data.fillna

<bound method NDFrame.fillna of 0        1
1      NaN
2    hello
3     None
dtype: object>

In [37]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [38]:
#Delating empty enterings

In [39]:
data.dropna()

0        1
2    hello
dtype: object

In [43]:
df = pd.DataFrame([[1, np.nan, 2],
                  [2, 3, 5],
                  [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [45]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [46]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [47]:
df.dropna(axis=1)

   2
0  2
1  5
2  6

In [50]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [54]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [55]:
df.dropna(axis='columns', how='any')

   2
0  2
1  5
2  6

In [58]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

In [60]:
data = pd.Series([1, np.nan, 2, None, 3], index = list('abcde'),
                dtype='Int32')
data

a       1
b    <NA>
c       2
d    <NA>
e       3
dtype: Int32

In [62]:
data.fillna(0)

a    1
b    0
c    2
d    0
e    3
dtype: Int32

In [67]:
data_filled_ffill = data.ffill()
data_filled_ffill

a    1
b    1
c    2
d    2
e    3
dtype: Int32

In [68]:
data_filled_ffill = data.bfill()
data_filled_ffill

a    1
b    2
c    2
d    3
e    3
dtype: Int32

In [69]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [72]:
df_filled = df.ffill(axis=1)
df_filled

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0