In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.Series([0.25, 0.5, 1.56, 1.0, 24.5])
data

0     0.25
1     0.50
2     1.56
3     1.00
4    24.50
dtype: float64

In [5]:
data.values

array([ 0.25,  0.5 ,  1.56,  1.  , 24.5 ])

In [6]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
data[1]

0.5

In [8]:
data[1:4]

1    0.50
2    1.56
3    1.00
dtype: float64

In [10]:
data =  pd.Series([0.25, 0.5, 1.2, 1.0],
                 index=['a','b','c','d'])
data

a    0.25
b    0.50
c    1.20
d    1.00
dtype: float64

In [12]:
data['b']

0.5

In [13]:
data = pd.Series([0.25, 0.45, 1.0, 23.56],
                 [2,5,3,7])
data

2     0.25
5     0.45
3     1.00
7    23.56
dtype: float64

In [14]:
data[5]

0.45

In [15]:
data[7]

23.56

In [19]:
population_dict = {'State01': 12412412421, 'State02': 908894923842, 'State03': 9192838213, 'State04': 4516512, 'State05': 67761277261}

population = pd.Series(population_dict)
population

State01     12412412421
State02    908894923842
State03      9192838213
State04         4516512
State05     67761277261
dtype: int64

In [23]:
population['State01']

12412412421

In [25]:
population['State02':'State04']

State02    908894923842
State03      9192838213
State04         4516512
dtype: int64

In [27]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [29]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [30]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [32]:
pd.Series({2:'a', 1:'b', 3:'c'}, index = [1,2])

1    b
2    a
dtype: object

In [44]:
area_dict = {'State-01': 12412412421, 'State-02': 908894923842, 'State-03': 9192838213, 'State-04': 4516512, 'State-05': 67761277261}
area_dict

{'State-01': 12412412421,
 'State-02': 908894923842,
 'State-03': 9192838213,
 'State-04': 4516512,
 'State-05': 67761277261}

In [43]:
area = pd.Series(area_dict)
area

State-01     12412412421
State-02    908894923842
State-03      9192838213
State-04         4516512
State-05     67761277261
dtype: int64

In [61]:
import pandas as pd

# Population and area data
population_dict = {
    'State-01': 12412412421,
    'State-02': 908894923842,
    'State-03': 9192838213,
    'State-04': 4516512,
    'State-05': 67761277261
}

area_dict = {
    'State-01': 192951925, 
    'State-02': 2154512, 
    'State-03': 3323919, 
    'State-04': 99019292, 
    'State-05': 4585812
}

# Creating pandas Series for population and area
population_series = pd.Series(population_dict)
area_series = pd.Series(area_dict)

# Creating a DataFrame
states_df = pd.DataFrame({
    'population': population_series,
    'area': area_series
})

# Display the DataFrame
print(states_df)

            population       area
State-01   12412412421  192951925
State-02  908894923842    2154512
State-03    9192838213    3323919
State-04       4516512   99019292
State-05   67761277261    4585812

In [62]:
states.index

Index(['State-01', 'State-02', 'State-03', 'State-04', 'State-05', 'State01',
       'State02', 'State03', 'State04', 'State05'],
      dtype='object')

In [64]:
states.columns

Index(['population', 'area'], dtype='object')

In [65]:
states['area']

State-01    1.241241e+10
State-02    9.088949e+11
State-03    9.192838e+09
State-04    4.516512e+06
State-05    6.776128e+10
State01              NaN
State02              NaN
State03              NaN
State04              NaN
State05              NaN
Name: area, dtype: float64

In [67]:
pd.DataFrame(population, columns=['population'])

           population
State01   12412412421
State02  908894923842
State03    9192838213
State04       4516512
State05   67761277261

In [70]:
data = [{'a': 1, 'b':2 *3 }
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  1  6
1  1  6
2  1  6

In [72]:
pd.DataFrame([{'a':1 , 'b': 2} , {'b': 3, 'c': '4'} ])

     a  b    c
0  1.0  2  NaN
1  NaN  3    4

In [76]:
pd.DataFrame({'population':population_dict,
             'area':area_dict})

            population       area
State-01   12412412421  192951925
State-02  908894923842    2154512
State-03    9192838213    3323919
State-04       4516512   99019292
State-05   67761277261    4585812

In [79]:
pd.DataFrame(np.random.rand(3,2), 
             columns=['foo','bar'],
             index=['a','b','c'])

        foo       bar
a  0.079123  0.411651
b  0.011064  0.340847
c  0.226407  0.163821

In [85]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [86]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [94]:
ind = pd.Index([2,3,4,5,6,7,8,9])
ind

Index([2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [89]:
ind[1]

3

In [95]:
ind[::2]

Index([2, 4, 6, 8], dtype='int64')

In [97]:
ind[:3]

Index([2, 3, 4], dtype='int64')

In [103]:
print(ind.size, ind.shape , ind.ndim , ind.dtype)

8 (8,) 1 int64