In [1]:
import numpy as np

In [2]:
x = np.array([2,4,5,76,89,1,26])
x * 2

array([  4,   8,  10, 152, 178,   2,  52])

In [9]:
data = ['peter', 'PAUL', 'MARY','gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [14]:
data = ['peter', 'PAUL', None, 'MARY','gUIDO']
[s if s is None else s.capitalize() for s in data]

['Peter', 'Paul', None, 'Mary', 'Guido']

In [15]:
import pandas as pd
names = pd.Series(data)
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [27]:
monte = pd.Series(['Graham Jaksd','John Nbasd','Retty Opasd','Eric Tuyuas','Terry Jassa','Michael Lasss'])

In [18]:
monte

0     Graham
1       John
2      Retty
3       Eric
4      Terry
5    Michael
dtype: object

In [28]:
monte.str.lower()

0     graham jaksd
1       john nbasd
2      retty opasd
3      eric tuyuas
4      terry jassa
5    michael lasss
dtype: object

In [29]:
monte.str.len()

0    12
1    10
2    11
3    11
4    11
5    13
dtype: int64

In [30]:
monte.str.startswith('T')

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [31]:
monte.str.split()

0     [Graham, Jaksd]
1       [John, Nbasd]
2      [Retty, Opasd]
3      [Eric, Tuyuas]
4      [Terry, Jassa]
5    [Michael, Lasss]
dtype: object

In [32]:
monte.str.extract('([A-Za-z]+)',expand= False)

0     Graham
1       John
2      Retty
3       Eric
4      Terry
5    Michael
dtype: object

In [33]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0     [Graham Jaksd]
1       [John Nbasd]
2      [Retty Opasd]
3                 []
4                 []
5    [Michael Lasss]
dtype: object

In [34]:
monte.str[0:3]

0    Gra
1    Joh
2    Ret
3    Eri
4    Ter
5    Mic
dtype: object

In [38]:
monte.str.split().str[0]

0     Graham
1       John
2      Retty
3       Eric
4      Terry
5    Michael
dtype: object

In [39]:
monte.str.split().str[-1]

0     Jaksd
1     Nbasd
2     Opasd
3    Tuyuas
4     Jassa
5     Lasss
dtype: object

In [42]:
full_monte = pd.DataFrame({'name': monte,
                        'info': ['B|C|D','B|D','A|C',
                                'B|D','B|C','B|C|D']})
full_monte

            name   info
0   Graham Jaksd  B|C|D
1     John Nbasd    B|D
2    Retty Opasd    A|C
3    Eric Tuyuas    B|D
4    Terry Jassa    B|C
5  Michael Lasss  B|C|D

In [43]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [73]:
import pandas as pd
import json

# Specify the file path, adjust it as necessary
file_path = 'recipeitems.json'

# Read the JSON file line by line
data = []
try:
    with open(file_path, 'r', encoding='utf-8') as file:
        for line in file:
            try:
                # Parse each line as a JSON object
                data.append(json.loads(line))
            except json.JSONDecodeError as e:
                print(f"Error parsing line: {e}")
    
    # Convert the list of JSON objects to a DataFrame
    recipes = pd.DataFrame(data)
    print(f"File loaded successfully. Shape of the DataFrame: {recipes.shape}")
except FileNotFoundError:
    print(f"File {file_path} does not exist. Please check the path.")
except ValueError as e:
    print(f"Error reading the file: {e}")

Error parsing line: Unterminated string starting at: line 1 column 555 (char 554)
File loaded successfully. Shape of the DataFrame: (100341, 17)

In [74]:
recipes.iloc[0]

_id                                {'$oid': '5160756b96cc62079cc2db15'}
name                                    Drop Biscuits and Sausage Gravy
ingredients           Biscuits\n3 cups All-purpose Flour\n2 Tablespo...
url                   http://thepioneerwoman.com/cooking/2013/03/dro...
image                 http://static.thepioneerwoman.com/cooking/file...
ts                                             {'$date': 1365276011104}
cookTime                                                          PT30M
source                                                  thepioneerwoman
recipeYield                                                          12
datePublished                                                2013-03-11
prepTime                                                          PT10M
description           Late Saturday afternoon, after Marlboro Man ha...
totalTime                                                           NaN
creator                                                             NaN
recipeCategory                                                      NaN
dateModified                                                        NaN
recipeInstructions                                                  NaN
Name: 0, dtype: object

In [77]:
recipes.ingredients.str.len().describe()

count    100341.000000
mean        230.175761
std         139.292870
min           0.000000
25%         137.000000
50%         203.000000
75%         288.000000
max        3599.000000
Name: ingredients, dtype: float64

In [78]:
recipes.name[np.argmax(recipes.ingredients.str.len())]

'coq au vin'

In [79]:
recipes.description.str.contains('[Bb]reakfast').sum()

2086

In [80]:
recipes.ingredients.str.contains('[Cc]innamon').sum()

4002

In [82]:
recipes.ingredients.str.contains('[Cc]inamon').sum()

10

In [84]:
spice_list = ['salt','pepper','oregon','sage',
             'parsley','resemary','tarragon','thyme','paprika','cumin']
spice_list

['salt',
 'pepper',
 'oregon',
 'sage',
 'parsley',
 'resemary',
 'tarragon',
 'thyme',
 'paprika',
 'cumin']

In [88]:
import re
spice_df = pd.DataFrame({
    spice: recipes.ingredients.str.contains(spice, re.IGNORECASE)
    for spice in spice_list})
spice_df.head()

,salt,pepper,oregon,sage,parsley,resemary,tarragon,thyme,paprika,cumin
0,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,True,True,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [90]:
selection = spice_df.query('parsley & paprika & tarragon')
len(selection)

3

In [95]:
recipes.name[selection.index]

2069     All cremat with a Little Gem, dandelion and wa...
74964                        Lobster with Thermidor butter
93768     Burton's Southern Fried Chicken with White Gravy
Name: name, dtype: object

In [97]:
recipes.description[selection.index]

2069                                                  None
74964    A luxury that has been prized by chefs for yea...
93768    "Breaded buttermilk fried chicken and a pan-dr...
Name: description, dtype: object