In [23]:
import numpy as np

In [24]:
import numpy as np
rng =  np.random.default_rng(42)
x = rng.random(100000)
y = rng.random(100000)
%timeit x + y

21.1 µs ± 187 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [25]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))

11.9 ms ± 316 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [26]:
mask = (x>0.5)&(y<0.5)

In [27]:
tmp1 = (x>0.6)
tmp2 = (y<0.6)
mask = tmp1 & tmp2

In [28]:
mask = (x > 0.5) & (y < 0.5)

In [13]:
pip install numexpr

Requirement already satisfied: numexpr in /opt/homebrew/Cellar/jupyterlab/4.0.11/libexec/lib/python3.12/site-packages (2.10.1)
Requirement already satisfied: numpy>=1.23.0 in /opt/homebrew/Cellar/jupyterlab/4.0.11/libexec/lib/python3.12/site-packages (from numexpr) (1.26.4)

[notice] A new release of pip is available: 24.2 -> 24.3
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.0.11/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [29]:
import numexpr
mask_numexpr = numexpr.evaluate('(x>0.5)&(y<0.5)')
np.all(mask == mask_numexpr)

True

In [30]:
import pandas as pd
import numpy as np

# Set random seed for reproducibility
rng = np.random.default_rng(42)

# Define the number of rows and columns
nrows, ncols = 100000, 100

# Generate DataFrames with float32 to reduce memory usage
df1, df2, df3, df4 = (
    pd.DataFrame(rng.random((nrows, ncols)).astype(np.float32)) for _ in range(4)
)

# Now you can use these DataFrames as needed

In [31]:
%timeit df1 + df2 + df3 + df4

11.8 ms ± 216 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [32]:
%timeit pd.eval('df1 + df2 + df3 + df4')

5.93 ms ± 9.54 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [33]:
import numpy as np
np.allclose(df1 + df2 + df3 + df4,
           pd.eval('df1+df2+df3+df4'))

True

In [34]:
import pandas as pd
import numpy as np

rng = np.random.default_rng()  # Initialize a random number generator

# Create four DataFrames
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.integers(0, 1000, (100, 3)))
                      for i in range(5))

# Now you can use these DataFrames as needed

In [35]:
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
np.allclose(result1, result2)

True

In [36]:
result1 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 =  pd.eval('df1 < df2 <= df3 <= df3 != df4')
np.allclose(result1 , result2)

True

In [37]:
%timeit result1

5.71 ns ± 0.0445 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [38]:
%timeit result2

5.79 ns ± 0.00677 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [40]:
result1 = (df1 < 0.5) & (df2 <= 0.5) | (df3 < df4)
result2 =  pd.eval('(df1 < 0.5) & (df2 < 0.5 ) | (df3 < df4)')
np.allclose(result1 , result2)

True

In [42]:
result3 = pd.eval('(df1<0.5) and (df2<0.5) or (df3<df4)')
np.allclose(result1, result3)

True

In [43]:
result1 = df2.T[0] + df3.iloc[1]
result2 = pd.eval('df2.T[0] +  df3.iloc[1]')
np.allclose(result1, result2)

True

In [45]:
df = pd.DataFrame(rng.random((1000, 3)), columns=['A','B','C'])
df.head()

          A         B         C
0  0.727395  0.550562  0.777428
1  0.636819  0.525093  0.015065
2  0.732888  0.830676  0.681563
3  0.202373  0.992584  0.820114
4  0.797840  0.665207  0.177735

In [46]:
result1 = (df['A']+df['B']) / (df['C']- 1)
result2 = pd.eval("(df.A + df.B) / (df.C - 1)")
np.allclose(result1, result2)

True

In [47]:
result3 = df.eval('(A + B) / (C - 1)')
np.allclose(result1, result2)

True

In [49]:
df.head()

          A         B         C
0  0.727395  0.550562  0.777428
1  0.636819  0.525093  0.015065
2  0.732888  0.830676  0.681563
3  0.202373  0.992584  0.820114
4  0.797840  0.665207  0.177735

In [50]:
df.eval('D = (A+B)/C', inplace=True)
df.head()

          A         B         C          D
0  0.727395  0.550562  0.777428   1.643828
1  0.636819  0.525093  0.015065  77.125431
2  0.732888  0.830676  0.681563   2.294087
3  0.202373  0.992584  0.820114   1.457061
4  0.797840  0.665207  0.177735   8.231619

In [51]:
df.eval('D = (A-B) / C', inplace = True)
df.head()

          A         B         C         D
0  0.727395  0.550562  0.777428  0.227460
1  0.636819  0.525093  0.015065  7.416178
2  0.732888  0.830676  0.681563 -0.143477
3  0.202373  0.992584  0.820114 -0.963538
4  0.797840  0.665207  0.177735  0.746238

In [54]:
column_mean = df.mean(1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1,result2)

True

In [55]:
result1 = df[(df.A < 0.5)&(df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

True

In [56]:
result2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)

True

In [58]:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & ( df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result1)

True

In [59]:
x = df[(df.A < 0.5) & (df.B < 0.5)]

In [61]:
tmp1 = df.A < 0.5
tmp2 = df.B < 0.5
tmp3 = tmp1 & tmp2
x = df[tmp3]

In [63]:
df.values.nbytes

32000