In [1]:
import pandas as pd
import numpy as np

In [4]:
def make_df(cols, ind):
    data = {c:[str(c)+str(i) for i in ind ]
           for c in cols}
    return pd.DataFrame(data, ind)

make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [9]:
class display(object):
    template = """<div style="float: left; padding: 10px";">
    <p style='font-family: "Courier New", Courier, monospace'>{0}{1}"""
    def __init__(self, *args):
        self.args = args

    def _repr_html_(self):
        return '\n'.join(self.tempalte.format(a,eval(a)._repr_html_())
                         for a in self.args)

    def _repr_(self):
        return '\n\n'.join(a+'\n'+repr(eval(a))
                           for a in self.args)

In [11]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]
np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
x = [[1,2],
    [3,4]]

np.concatenate([x,x], axis = 1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [22]:
pd.concat(objs, axis = 0, join='outer', ignore_index=False, keys=None,
          levels=None, names=None, verify_integrity=False, sort=False, copy=False)

import pandas as pd

In [36]:

# Example DataFrames
ser1 = pd.Series(['A','B','C'], index = [1,2,3])
ser2 = pd.Series(['D','E','F'], index = [4,5,6])

pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [47]:
import pandas as pd
from IPython.display import display

# Create Series objects with a single index
df1 = pd.Series(['AB'], index=[1])
df2 = pd.Series(['AB'], index=[3])

# Display individual Series and concatenated result
display(df1, df2, pd.concat([df1, df2]))

1    AB
dtype: object

3    AB
dtype: object

1    AB
3    AB
dtype: object

In [52]:

# Example DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# List of DataFrames to concatenate
objs = [df1, df2]

# Concatenate the DataFrames
result = pd.concat(objs, axis=0, join='outer', ignore_index=False)

print(result)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [53]:
df3 = make_df('AB', [0,1])
df4 = make_df('CD', [0,1])

print('df3:')
print(df3)
print('\n')

print('df4:')
print(df4)
print('\n')

print("pd.concat([df3, df4], axis='columns'):")
print(pd.concat([df3, df4], axis='columns'))

df3:
    A   B
0  A0  B0
1  A1  B1


df4:
    C   D
0  C0  D0
1  C1  D1


pd.concat([df3, df4], axis='columns'):
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [56]:
x = make_df('AB',[0,1])
y = make_df('AB',[2,3])
y.index = x.index

print('x:')
print(x)
print('\n')

print('y:')
print(y)
print('\n')

print("pd.concat([x, y]):")
print(pd.concat([x, y]))

x:
    A   B
0  A0  B0
1  A1  B1


y:
    A   B
0  A2  B2
1  A3  B3


pd.concat([x, y]):
    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [60]:
x = make_df('AB', [0,1])
y = make_df('AB', [2,3])
y.index = x.index

print("'x'")
print(x)
print('\n')

print("'y'")
print(y)
print('\n')

print('"pd.concat([x, y], keys=[\'x\', \'y\'])"')
print(pd.concat([x, y], keys=['x', 'y']))

'x'
    A   B
0  A0  B0
1  A1  B1


'y'
    A   B
0  A2  B2
1  A3  B3


"pd.concat([x, y], keys=['x', 'y'])"
      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

In [63]:
# Create df5 and df6
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])

# Display the correct output with labels as requested
print("'df5'")
print(df5)
print('\n')

print("'df6'")
print(df6)
print('\n')

# Correct the typo in concat (should be pd.concat)
print("'pd.concat([df5, df6])'")
print(pd.concat([df5, df6]))

# tools.display_dataframe_to_user(name="Concatenated DataFrame df5 and df6", dataframe=pd.concat([df5, df6]))

'df5'
    A   B   C
1  A1  B1  C1
2  A2  B2  C2


'df6'
    B   C   D
3  B3  C3  D3
4  B4  C4  D4


'pd.concat([df5, df6])'
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [67]:
# Perform an inner join on df5 and df6 using pd.concat with join='inner'
df_concat_inner = pd.concat([df5, df6], join='inner')

# Display the DataFrames and concatenated result with the required labels
print("'df5'")
print(df5)
print('\n')

print("'df6'")
print(df6)
print('\n')

print('"pd.concat([df5, df6], join=\'inner\')"')
print(df_concat_inner)

'df5'
    A   B   C
1  A1  B1  C1
2  A2  B2  C2


'df6'
    B   C   D
3  B3  C3  D3
4  B4  C4  D4


"pd.concat([df5, df6], join='inner')"
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [69]:
pd.concat([df5, df6.reindex(df5.columns , axis = 1)])

     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3  NaN  B3  C3
4  NaN  B4  C4

In [82]:
display('df1', 'df2')

'df1'

'df2'

In [6]:
import pandas as pd

# Example DataFrame
data = {'key': ['A', 'B', 'C', 'A', 'B', 'C'],
        'value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)

# Set index
df2 = df.set_index('key')

# Define mapping
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}

# Group by mapping and sum
grouped_df = df2.groupby(mapping).sum()

# Display results (if using Jupyter, display() works, otherwise print())

print(df2)

print(grouped_df)

     value
key
A        1
B        2
C        3
A        4
B        5
C        6
           value
key
consonant     16
vowel          5

In [11]:
print(grouped)

decade           1990s  2000s  2010s  2020s
method
Imaging            0.0    0.0    1.0    3.0
Radial Velocity    1.0    4.0    0.0    0.0
Transit            3.0    2.0    5.0    2.0